[submodule "deps/ckb-system-scripts"]
	path = deps/ckb-system-scripts
	url = https://github.com/nervosnetwork/ckb-system-scripts.git
[submodule "deps/ckb-c-stdlib"]
	path = deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib.git
